.box {
  background-color: red;
  height: 200px;
  width: 200px;
  position: relative;
left:400px; 
top: 100px;
  margin-bottom: 10px;
}
.box1{
  background-color: blue;
height: 100px;
  width: 100px;
position: relative;
bottom: 200px;
  margin-bottom: 10px;
}

.box2 {
  background-color: yellow;
  height: 150px;
  width: 150px;
position: relative;
left: 800px;
bottom: 300px;
  margin-bottom: 10px;
}
