.box {
  background-color: red;
  height: 200px;
  width: 200px;
  position: relative;
  left: 600px; 
  top: 500px;
  margin-bottom: 10px;
}
.box1{
  background-color: blue;
height: 100px;
  width: 100px;
position: relative;
  top: 210px;
  left: 750px;
  margin-bottom: 10px;
}

.box2 {
  background-color: yellow;
  height: 150px;
  width: 150px;
position: relative;
  top: 90px;
  left: 510px;
  z-index: -1;
  margin-bottom: 10px;
}
